title: Our Journey
subtitle: Bethany and Vincent Saelzler
description: The life and times of Vincent and Bethany Saelzler.
locale: en

url: "https://saelzler.org"
logo: "/favicon.ico"

plugins:
  - jekyll-feed

exclude: # items are added to the internal "default list".
  - LICENSE.txt
  - README.md

theme: minimal-mistakes-jekyll
date_format: "%-d %B, %Y"
atom_feed:
  hide: true

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      show_date: true
